.App {
  text-align: center;
}

.App .todoList ul{
  list-style-type: none;


}

.lineThrough{
  text-decoration: line-through;
}

.App .todoList ul li{
  
  margin-bottom: 30px;
  background-color: aqua;
  width: 400px;
  position: relative;
  left: 50%;
  margin-left: -230px;

}

.checkBox{
  position: absolute;
  left: 0;
}

.delete{
  position: absolute;
  right: 5px;
  top: -15px;
  z-index: 2;
}

.delete:hover{
  cursor: pointer;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
